/* ===================================================
    Default Theme
    --------------------------------------------------
    Fonts: Raleway & Open Sans
    --------------------------------------------------
    Colors:
        Moon Yellow:             #f4c613
        Grey:                    #212226
        White Smoke:             #f4f4f4
        White:                   #ffffff 
        Black:                   #000000

=================================================== */
