/* ===================================================
    Default Theme
    --------------------------------------------------
    Fonts: Raleway & Open Sans
    --------------------------------------------------
    Colors:
        Moon Yellow:             #f4c613
        Grey:                    #212226
        White Smoke:             #f4f4f4
        White:                   #ffffff 
        Black:                   #000000

=================================================== */


/* ===================================================
                        Preloader
=================================================== */
#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring image up and left half size of image to properly fit it in middle of screen */
    margin-left: -35px;
    margin-top: -35px;
    
}
