/* ===================================================
    Default Theme
    --------------------------------------------------
    Fonts: Raleway & Open Sans
    --------------------------------------------------
    Colors:
        Moon Yellow:             #f4c613
        Grey:                    #212226
        White Smoke:             #f4f4f4
        White:                   #ffffff 
        Black:                   #000000

=================================================== */

/* ===================================================
                        Html, Body
=================================================== */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

p {
    font-family: "Open Sans", sans-serif font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #ffffff;
    overflow: hidden;
}


/* ===================================================
                        Preloader
=================================================== */

#preloader {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/preloader/preloader.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring image up and left half size of image to properly fit it in middle of screen */
    margin-left: -35px;
    margin-top: -35px;

}

/* ===================================================
                        Home
=================================================== */

#home {
    height: 100%;
    background: none;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../video/solo.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 65px;
    font-weight: 100;
    margin: 0;
    text-transform: uppercase;
    display: inline-block;
}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    margin: 8 0 30 0;

}

/* ===================================================
                        Buttons
=================================================== */

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 28px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6;
    padding: 12px 46px 12px 46px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-home {
    color: #fff;
    border: 1px solid #fff;
}

.btn-home:hover,
.btn-home:focus {
    background-color: #f4c613;
    color: #fff;
    border: 1px solid #f4c613;
}


/* ===================================================
                        Arrow Down
=================================================== */

#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #fff;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613
}

/* ===================================================
                        Content Boxes
=================================================== */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 100px 0;
}

/* ===================================================
                        Vertical Headings
=================================================== */
.vertical-heading h5 {
    color: #f4c613;
    font-size: 14px;
    font-weight: 500px;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -63px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 100;
    line-height: 45px;
}

/* ===================================================
                        About 01
=================================================== */

#about-right p:first-child {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 60px;
}

#about-bottom img {
    margin: 0 auto;
}

/* ===================================================
                        About 02
=================================================== */
#about-02 {
    background-color: #f4f4f4
}

.about-item {
    background-color: #fff;
    padding: 80px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .1);
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}

.about-item i {
    font-size: 42px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

/* Hover State */
.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

/* Smooth transition */
.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}





























